.hero{
   font-family: "Comic Sans MS", "Bradley Hand", "Chalkboard SE", cursive;
text-align: center;
}
.parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: 2px solid black;
    height: 100vh;
    font-size: large;
}
.child{
border: 2px solid rgb(61, 186, 145);
display: flex;
justify-content: center;
align-items: top;
color: aliceblue;
font-size: 80;
}
.d1, .d5{
    grid-column: 1/6;
    height: 10vh;
   
}
.d2, .d3, .d4{
    height: 80vh;
}
.d3{ grid-column: 2/5;
   
}
.d2{background-color: aqua;
    grid-column: 1/2;
}

.d4{
    background-color: aqua;
    grid-column: 5/6;
}
.d5, .d1{
background-color: darkmagenta;




}